<html lang="en">

<body>
  <!-- <div class="w-full text-right" style="background-color: white;">
    <p> {{ purchaseOrderObj?.type === 'Work Order' ? 'GTST/PUR/F/06' : 'GTST/PUR/F/05' }} </p>
  </div> -->
  <div class="cards">
    <div class="flex flex-row mb-1 border-1">
      <div class="w-6 m-1">
        <img *ngIf="companyLogo != 'null'" width="40%" height="80px" src="{{companyLogo}}" alt="logo">
      </div>
      <div class="w-6 m-1 flex flex-column text-right">
        <p class="company-name">{{companyName}}</p>
        <span *ngIf="registeredAddress" class="capitalize">
          <div *ngFor="let address of getTextarea(registeredAddress)">
            {{ getLowerCase(address) }}
          </div>
        </span>
        <div *ngIf="stateName && stateCode">
          State: {{ stateName }}, Code: {{ stateCode }}
        </div>
         <p *ngIf="gstNo" class="m-0">VAT: {{ gstNo }}</p>
        <p *ngIf="cinNo">CIN: {{cinNo}}</p>
      </div>
    </div>
    <div class="title-section">
      <h1>{{ purchaseOrderObj?.type === 'Work Order' ? 'WORK ORDER' : 'PURCHASE ORDER' }}</h1>
    </div>
    <div class="details-section">
      <table class="details-table">
        <tr>
          <td class="label">SUPPLIER NAME:</td>
          <td>{{ purchaseOrderObj?.party_name }}</td>
          <td class="label">DELIVERY TERM:</td>
          <td>{{purchaseOrderObj?.delivery_terms }}</td>
          <!-- <td class="label">Delivery Terms:</td>
          <td>{{ purchaseOrderObj?.delivery_terms }}</td> -->
        </tr>
        <tr>
          <td class="label">PO NO.:</td>
          <td>{{ purchaseOrderObj?.form_code }}</td>
          <td class="label">PO DATE:</td>
          <td>{{ purchaseOrderObj?.form_date }}</td>
        </tr>
        <tr>
          <td class="label">PORT OF LOADING:</td>
          <td>{{ purchaseOrderObj?.port_of_loading}}</td>
          <td class="label">PAYMENT TERM:</td>
          <td>{{ purchaseOrderObj?.payment_terms }}</td>
        </tr>

        <tr>
          <td class="label">ETD:</td>
          <td>{{ purchaseOrderObj?.delivery_date }}</td>
          <td class="label"></td>
          <td></td>
        </tr>

      </table>
    </div>
    <!-- <table class="details-table">
      <tr>
        <td class="label capitalize">supplier details:</td>
        <td class="label capitalize">shipping address:</td>
      </tr>
      <tr>
        <td [vAlign]="'top'">
          <p class="m-0"><b>{{ supplierName }}</b></p>
          <span *ngIf="supplierAddress" class="capitalize">
            <div *ngFor="let address of getTextarea(supplierAddress)">
              {{ getLowerCase(address) }}
            </div>
          </span> -->
          <!-- <p *ngIf="supplierGst" class="m-0">GSTIN/UIN: {{ supplierGst }}</p> -->
          <!-- <p *ngIf="supplierState">State: {{supplierState}}<span *ngIf="purchaseOrderObj?.state_code">, Code: {{
              purchaseOrderObj?.state_code }}</span> </p> -->
          <!-- <p><b>Mobile No:</b> {{ supplierPhone }}</p> -->
          <!-- <p><b>Email ID:</b> {{ supplierEmail }}</p> -->
        <!-- </td>
        <td [vAlign]="'top'">
          <p class="m-0"><b>{{ companyName }}</b></p>
          <span *ngIf="shippingAddress" class="capitalize">
            <div *ngFor="let address of getTextarea(shippingAddress)">
              {{ getLowerCase(address) }}
            </div>
          </span>
          <p *ngIf="gstNo" class="m-0">GSTIN/UIN: {{ gstNo }}</p>
          <p *ngIf="shippingState">State: {{shippingState}}<span *ngIf="stateCode">, Code: {{ stateCode }}</span> </p>
        </td>
      </tr>
    </table> -->
    <table class="table table-sm text-nowrap" style="border-collapse: collapse; width:100%; margin-top: 10px;">
      <thead style="color:black; border-collapse: collapse;">
        <tr>
          <th class="custom-styles">Sl.No.</th>
          <th class="custom-styles">Product Code</th>
          <!-- <th class="custom-styles">Drawing Number<br> Product Name & Description</th> -->
          <th class="custom-styles">Product Name</th>
          <th class="custom-styles">Part Number</th>
          <th class="custom-styles">Customer Part Number</th>
          <th class="custom-styles">Description </th>
          <th class="custom-styles">HS Code</th>
          <th class="custom-styles">Model</th>
          <th class="custom-styles">Brand</th>
          <th class="custom-styles">UOM</th>
          <th class="custom-styles">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of purchaseOrderObj?.purchase_order_details; let index = index;"
          class="page-break-inside-avoid">
          <td class="custom-styles">{{ index + 1 }}</td>
          <td class="custom-styles">{{ item?.item_code }}</td>
          <td class="custom-styles text-left">
            <!-- {{ item?.drawing_number }}<br> -->
            {{ item?.product_name }}<br>
            <!-- {{ item?.description }} -->
          </td>
          <td class="custom-styles" style="width: 130px; word-break: break-all;">{{ item?.part_number }}</td>
          <td class="custom-styles">{{ item?.customer_part_number }}</td>
          <td class="custom-styles">{{item?.description }}</td>
          <td class="custom-styles">{{ item?.hsn }}</td>
          <td class="custom-styles">{{ item?.model }}</td>
          <td class="custom-styles">{{ item?.brand }}</td>
          <td class="custom-styles">{{ item?.unit_name }}</td>
          <td class="custom-styles">{{ item?.quantity }}</td>
          <!-- <td class="custom-styles text-right">{{ transformDecimal(item?.final_price) }}</td>
          <td class="custom-styles text-right">{{ transformDecimal(item?.taxable_amount) }}</td> -->
        </tr>
        <tr class="page-break-inside-avoid">
          <td colspan="10" style="text-align: right; font-size: 12px; padding:5px; border: 1px solid black;">Total</td>
          <td class="custom-styles">{{ purchaseOrderObj?.total_quantity }}</td>
          <!-- <td style="text-align: right; font-size: 12px; padding:5px; border: 1px solid black;"></td>
          <td class="custom-styles"></td>
          <td class="custom-styles text-right">{{ transformDecimal(purchaseOrderObj?.taxable_amount) }}</td>
          <td class="custom-styles text-right">{{ transformDecimal(purchaseOrderObj?.taxable_amount) }}</td>
           -->
        </tr>
      </tbody>
      <!-- <tfoot>
      </tfoot> -->
    </table>

    <span class="page-break-inside-avoid">
      <!-- <table class="table table-sm text-nowrap w-12 mt-5" style="border-collapse: collapse;">
        <thead style="color:black; border-collapse: collapse;">
          <tr class="text-base">
            <th rowspan="2" class="custom-styles"> Total Basic Value </th>
            <th colspan="3" class="custom-styles p-0"> Total Tax Amount </th>
            <th rowspan="2" class="custom-styles"> Round Off </th>
            <th rowspan="2" class="custom-styles"> Total PO Value </th>
          </tr>
          <tr class="text-base">
            <th class="custom-styles"> SGST </th>
            <th class="custom-styles"> CGST </th>
            <th class="custom-styles"> IGST </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="custom-styles">{{ purchaseOrderObj?.taxable_amount | number:
              '1.2-2' }}
            </td>
            <td class="custom-styles">{{ purchaseOrderObj?.sgst | number: '1.2-2' }}
            </td>
            <td class="custom-styles">{{ purchaseOrderObj?.cgst | number: '1.2-2' }}
            </td>
            <td class="custom-styles">{{ purchaseOrderObj?.igst | number: '1.2-2' }}
            </td>
            <td class="custom-styles">{{ purchaseOrderObj?.adjust_amount | number:
              '1.2-2' }}
            </td>
            <td class="custom-styles">{{ purchaseOrderObj?.grand_total | number:
              '1.2-2' }}
            </td>
          </tr>
        </tbody>
      </table> -->
    </span>
    <!-- <table class="text-xl" style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 14px;">
      <tr class="page-break-inside-avoid">
        <td style="width: 25%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
          {{ purchaseOrderObj?.type === 'Work Order' ? 'Total WO Value in Words:' : 'Total PO Value in Words:' }}
        </td>
        <td style="width: 75%; border: 1px solid black; padding: 10px;">
          {{ amountInWords }}
        </td>
      </tr>
    </table> -->

    <div class="text-xl" style="margin-top: 20px;">
      <h5 style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;"></h5>
      <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 14px;">
        <thead>
          <tr>
           
            <th
              style="width: 10%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
              Sl.No.</th>
            <th class="text-left"
              style="width: 90%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
              TERMS & CONDITIONS
              <!-- The below documents to be provided along with supply -->
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of purchaseOrderObj?.purchase_order_terms_and_condition; let index = index;"
            class="page-break-inside-avoid">
            <td style="border: 1px solid black; padding: 5px; font-weight: bold; text-align: center;">{{ index + 1 }}
              <!-- {{ item?.term }} -->
            </td>
            <td style="border: 1px solid black; padding: 5px;">
              <div *ngIf="item?.description">
                <p *ngFor="let desc of getTextarea(item.description)" style="margin: 0 0 10px 0;">{{ desc }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="terms-and-conditions mb-10">
      <h5 style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;">Comments:</h5>
 
      <!-- <h5 style="font-weight: bold; text-decoration: underline;" class="my-2">Comments:</h5> -->
      <div class="terms-and-conditions-content mt-10">
        <div *ngFor="let item of defaultTermsAndConditions" class="page-break-inside-avoid">
          <p style="font-weight: bold; margin-bottom: 5px;">{{ item?.term }}</p>
          <div *ngIf="item?.description">
            <p *ngFor="let desc of getTextarea(item.description)" style="margin: 0 0 10px 0;">{{ desc }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <table class="w-full" style="margin-top: 100px;">
      <tr>
        <td class="text-center text-xl">{{ createdBy }}</td>
        <td class="text-center text-xl">{{ approvedBy }}</td>
        <td class="text-center text-xl">{{ authorizedBy }}</td>
      </tr>
      <tr>
        <td class="text-center text-xl">Prepared By</td>
        <td class="text-center text-xl">Approved By</td>
        <td class="text-center text-xl">Authorized By</td>
      </tr>
    </table> -->
  </div>
  <span class="changescolor">
  </span>
</body>

</html>

<!-- <p class="location"> -->
<!-- <span *ngIf="city">{{city}}<span *ngIf="pinCode">-</span></span> -->
<!-- <span *ngIf="pinCode">{{pinCode}}<span *ngIf="city && pinCode">,</span></span> -->
<!-- <span *ngIf="stateName">{{stateName}}</span> -->
<!-- </p> -->
<!-- <p class="contact"> -->
<!-- <span *ngIf="companyEmail">E-mail: {{companyEmail}}</span><br> -->
<!-- <span *ngIf="companyPhoneNo">Phone No.: {{companyPhoneNo}}</span><br> -->
<!-- <span *ngIf="gstNo">GST: {{gstNo}}</span><br> -->
<!-- </p> -->

<!-- <tr>
  <td style="width: 50%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
    Payment Terms:
  </td>
  <td style="width: 50%; border: 1px solid black; padding: 10px;">
    {{ purchaseOrderObj?.payment_terms }}
  </td>
</tr> -->

<!-- <div class="footer text-center">
      Factory: Sy.No.53, Lakkenahalli Village, Solur Hobli, Magadi Taluk, Bangalore-562 127
</div> -->