<div [formGroup]="form">
  <div>
    <div id="field?.name" class="p-inputgroup {{ !isValid ? 'error' : '' }}">
      <span *ngIf="field?.prefixGroupBy" class="p-inputgroup-addon">
        {{field?.prefixGroupByText}}
        <i *ngIf="field?.prefixGroupByIcon" class="pi {{field?.prefixGroupByIcon}}"></i>
      </span>

      @if(field?.variant === "basic"){
        <div class="flex flex-column gap-2 w-full">
          <label for="field?.name">{{field?.label}}</label>
          <input type="text" pInputText [attr.type]="field?.type" class="w-full form-control input-field"
            [id]="field?.name" [name]="field?.name" [formControlName]="field?.name" pInputText
            [placeholder]="dynamicPlaceholder" [class.ng-invalid]="!isValid" [class.ng-dirty]="!isValid"
            [readonly]="field?.readonly" />
          <!-- <small id="username-help">Enter your username to reset your password.</small> -->
        </div>
      }
      @else{
        <input type="text" pInputText [attr.type]="field?.type" class="form-control input-field" [id]="field?.name"
          [name]="field?.name" [formControlName]="field?.name" pInputText [placeholder]="dynamicPlaceholder"
          [class.ng-invalid]="!isValid" [class.ng-dirty]="!isValid" [readonly]="field?.readonlyFunction ? disableActionButton(field?.readonlyFunction) : field?.readonly"
          (click)="onClickInput($event)" (input)="onInput($event)" />
          @for(action of field?.actionButton; track action?.show) {
            <button *ngIf="action?.show" pButton pRipple type="button" style="margin-left: 0.1rem;" [icon]="action?.icon" 
              (click)="onClickActionButton($event, field, action)" [pTooltip]="action?.toolTip"
              [tooltipPosition]="action?.tooltipPosition" [class]="action?.class" [iconPos]="action?.iconPos"
              [label]="action?.label || ''"
              [disabled]="action?.isDisableFunction ? disableActionButton(action?.disableFunction) : action?.disabled">
            </button>
          }
      }

      <span *ngIf="field?.suffixGroupBy" class="p-inputgroup-addon">
        {{field?.suffixGroupByText}}
        <i *ngIf="field?.suffixGroupByIcon" class="pi {{field?.suffixGroupByIcon}}"></i>
      </span>
      <button *ngIf="field?.suffixActionGroupBy" type="button" pButton pRipple
        icon="pi {{field?.suffixActionGroupByIcon}}" styleClass="p-button-danger"
        (click)="onClickDp(op, 'category')"></button>
    </div>

    <div *ngIf="inValid && (isDirty || isTouched)" class="p-error block">
      <small *ngIf="isError">{{errorText}}</small>
    </div>
  </div>

  <div *ngIf="field?.dialogue">
    <p-dialog header="{{field.dialogueLabel}}" [(visible)]="display" [style]="{width: '90vw', height: '90vh'}">
      <dynamic-form-builder [fields]="field.dialogueFields"
        (onSubmit)="saveDialogueData($event)"></dynamic-form-builder>
    </p-dialog>
  </div>
  <!-- <div *ngIf="field?.calculate" class="p-inputgroup">
    <input [attr.type]="field?.type" class="form-control" [id]="field?.name" [name]="field?.name" [formControlName]="field?.name"
      pInputText [placeholder]="dynamicPlaceholder" [pValidateOnly]="!field?.keyFilter" pKeyFilter="{{field?.keyFilter ? field?.keyFilter : 'alphanum'}}" [class.ng-invalid]="!isValid" [class.ng-dirty]="!isValid"
      [readonly]="field?.readonly" > -->
  <!-- </div> -->

</div>

<p-overlayPanel #op>
  @if(field?.subForm){
  <dynamic-form-builder [fields]="field.subForm" (onSubmit)="saveDialogueData($event)"></dynamic-form-builder>
  }
  <!-- <input type="text" pInputText />
  <input type="text" pInputText /> -->
</p-overlayPanel>