<div class="cards" style="color: black; background-color: white !important;">
    
<div class="col-12 flex justify-space-between align-items-center">

    <!-- Center Title -->
    <div class="flex-1 flex justify-content-first">
        <h4><b>{{ isForeign ? 'COMMERCIAL INVOICE' : 'INVOICE' }}</b></h4>
    </div>

    <!-- Logo -->
    <div class="flex-1 flex justify-content-end">
        <img *ngIf="companyLogo"
             [src]="companyLogo"
             class="img-fluid"
             style="width: 80px;">
    </div>

</div>




    <!-- ADDRESS BLOCK -->
    <div class="flex flex-row mt-2">

        <!-- LEFT SIDE -->
        <div class="w-7 border-1 border-bottom-1 border-black-alpha-90">

            <!-- SELLER DETAILS -->
            <div class="p-2 border-bottom-1 border-black-alpha-90">
                <div class="font-bold" style="font-size: 12px;">{{ companyName }}</div>

                <div *ngFor="let address of getTextarea(registeredAddress)">
                    {{ address }}
                </div>

                <!-- <div *ngIf="gstNo">GSTIN/UIN: {{ gstNo }}</div> -->
                <div *ngIf="stateName && stateCode">State Name: {{ stateName }}, Code: {{ stateCode }}</div>
                <div *ngIf="cinNo">CIN: {{ cinNo }}</div>
            </div>

            <!-- CONSIGNEE -->
            <div class="p-2 border-black-alpha-90">
                <b>Consignee (Ship To)</b>
                <div *ngFor="let x of getTextarea(invoiceObj?.ship_to_address)">
                    {{ x }}
                </div>
            </div>

            <!-- BUYER -->
            <div class="p-2 border-top-1 border-black-alpha-90">
                <b>Buyer (Bill To)</b><br>
                <b>{{ invoiceObj?.party_name }}</b>

                <div *ngFor="let x of getTextarea(invoiceObj?.bill_to_address)">
                    {{ x }}
                </div>
            </div>

        </div>

 <!-- RIGHT SIDE -->
<div class="w-5 border-black-alpha-90 border-right-1 border-bottom-1" style="color: black;">

    <!-- INVOICE INFO -->
    <div class="flex flex-row border-black-alpha-90">
        <div class="w-6 p-2 border-top-1 border-bottom-1 border-black-alpha-90" style="color: black;">
            Invoice No:
            <div class="smallText" style="color: black;">{{ invoiceObj?.invoice_no }}</div>
        </div>

        <div class="w-6 p-2 border-top-1 border-bottom-1 border-black-alpha-90" style="color: black;">
            Date:
            <div class="smallText" style="color: black;">{{ invoiceObj?.invoice_date }}</div>
        </div>
    </div>

    <!-- ORDER DETAILS -->
    <div class="flex flex-row">
        <div class="w-6 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
            Buyer's Order No:
            <div class="font-bold" style="color: black;">{{ invoiceObj?.customer_po_no }}</div>
        </div>

        <div class="w-6 p-2 border-bottom-1 border-left-1 border-black-alpha-90" style="color: black;">
            Buyer's Order Date:
            <div class="smallText" style="color: black;">{{ invoiceObj?.customer_po_date }}</div>
        </div>
    </div>

    <!-- TERMS -->
    <div class="flex flex-row">
        <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
            Payment Terms:
            <div class="smallText" style="color: black;">{{ invoiceObj?.payment_terms }}</div>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-12 p-2 border-black-alpha-90" style="color: black;">
            <div class="ml-2" style="color: black;">Terms and Conditions:</div>

            <table class="no-border-table" style="color: black;">
                <tbody>
                    <tr *ngFor="let item of invoiceObj?.invoice_terms_and_condition; let index = index;">
                        <td style="color: black;">
                            {{ index + 1 }} {{ item?.description }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>


    </div>

    <!-- ITEMS TABLE -->
    <table class="w-12" style="border-collapse: collapse; text-align: center; margin-top: 10px;">
        <thead class="text-base">
            <tr>
                <th rowspan="2" class="p-2 border-1">Sl No</th>
                <th rowspan="2" class="p-2 border-1">Description</th>
                <th rowspan="2" class="p-2 border-1">HSN/SAC</th>
                <th rowspan="2" class="p-2 border-1">Qty</th>
                <th rowspan="2" class="p-2 border-1">UOM</th>
                <th rowspan="2" class="p-2 border-1">
                    Rate ({{ invoiceObj?.cpi_currency || 'AED' }})
                </th>

                <!-- DISCOUNT -->
                <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">Discount</th>

                <!-- TAXABLE VALUE -->
                <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">
                    Taxable Value ({{ invoiceObj?.cpi_currency || 'AED' }})
                </th>

                <!-- TAX COLUMNS -->
                <ng-container *ngIf="hasTaxValue()">
                    <th colspan="2" class="p-2 border-1">
                        {{ isForeign ? 'VAT' : (invoiceObj?.igst ? 'IGST' : 'CGST / SGST') }}
                    </th>
                </ng-container>

                <!-- TOTAL -->
                <th *ngIf="hasTaxValue() || hasDiscount()" rowspan="2" class="p-2 border-1">
                    Total ({{ invoiceObj?.cpi_currency || 'AED' }})
                </th>
            </tr>

            <!-- SUB TAX HEADERS -->
            <tr *ngIf="hasTaxValue()">
                <th class="p-2 border-1">Rate</th>
                <th class="p-2 border-1">Amount</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let item of invoiceObj?.invoice_details; let i = index;">
                <td class="p-2 border-1">{{ i + 1 }}</td>

                <td class="p-2 border-1 text-left">
                    <div *ngIf="item.item_code">{{ item.item_code }}</div>
                    <div *ngIf="item.drawing_number">{{ item.drawing_number }}</div>
                    <div *ngIf="item.product_name">{{ item.product_name }}</div>
                </td>

                <td class="p-2 border-1">{{ item.hsn }}</td>
                <td class="p-2 border-1">{{ item.shipping_qty }}</td>
                <td class="p-2 border-1">{{ item.unit_name }}</td>
                <td class="p-2 border-1">{{ item.unit_price | number:'1.2-2' }}</td>

                <td *ngIf="hasDiscount()" class="p-2 border-1">{{ item.discount_amount }}</td>

                <td *ngIf="hasDiscount()" class="p-2 border-1">
                    {{ item.taxable_amount | number:'1.2-2' }}
                </td>

                <!-- TAX -->
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax }}%</td>
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax_value | number:'1.2-2' }}</td>

                <!-- TOTAL -->
                <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                    {{ item.total | number:'1.2-2' }}
                </td>
            </tr>

        </tbody>

        <!-- TOTAL ROW -->
        <tr class="text-base font-bold">
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1 text-right">Total</td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1">{{ invoiceObj?.total_qty }}</td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1">{{ calculatefinalPriceTotal() | number:'1.2-2' }}</td>

            <td *ngIf="hasDiscount()" class="p-2 border-1"></td>

            <td *ngIf="hasDiscount()" class="p-2 border-1">
                {{ invoiceObj?.taxable_amount | number:'1.2-2' }}
            </td>

            <td *ngIf="hasTaxValue()" class="p-2 border-1"></td>

            <td *ngIf="hasTaxValue()" class="p-2 border-1">
                {{ calculateTaxTotal() | number:'1.2-2' }}
            </td>

            <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                {{ grandTotalValue() | number:'1.2-2' }}
            </td>
        </tr>

        <!-- EXTRA CHARGES -->

        <tr *ngIf="invoiceObj?.adjust_amount">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Adjust Amount</td>
            <td class="p-2 border-1">{{ invoiceObj.adjust_amount | number:'1.2-2' }}</td>
        </tr>

        <tr *ngIf="invoiceObj?.tcs">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">TCS</td>
            <td class="p-2 border-1">{{ invoiceObj.tcs | number:'1.2-2' }}</td>
        </tr>
                <tr *ngIf="invoiceObj?.freight_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Freight Charges</td>
                    <td class="p-2 border-1">{{ invoiceObj.freight_charges | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="invoiceObj?.packing">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Packing</td>
                    <td class="p-2 border-1">{{ invoiceObj?.packing | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="invoiceObj?.other_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Other Charges</td>
                    <td class="p-2 border-1">{{ invoiceObj?.other_charges | number:'1.2-2' }}</td>
                </tr>


        <tr *ngIf="invoiceObj?.charge_value">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Charge Value</td>
            <td class="p-2 border-1">{{ invoiceObj.charge_value | number:'1.2-2' }}</td>
        </tr>

        <!-- GRAND TOTAL -->
        <tr class="font-bold">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right">Grand Total</td>
            <td class="p-2 border-1">{{ invoiceObj?.grand_total | number:'1.2-2' }}</td>
        </tr>
    </table>

    <!-- AMOUNT IN WORDS -->
    <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
        <div style="display: flex; justify-content: space-between;">
            <div>Amount Chargeable (in words)</div>
            <div>E.& OE</div>
        </div>

        <div class="smallText">
            Total: {{ amountInWord(invoiceObj?.grand_total) }}
        </div>
    </div>

        <table style="width:100%;border-collapse:collapse;font-size:13px">
            <tr>
                <td style="border:1px solid #000;padding:6px;width:25%;">Country Of Origin</td>
                <td style="border:1px solid #000;padding:6px;width:25%;">{{ invoiceObj?.country_of_origin }}</td>
                <td style="border:1px solid #000;padding:6px;width:25%;">Port of Loading</td>
                <td style="border:1px solid #000;padding:6px;width:25%;">{{ invoiceObj?.port_of_loading }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">Destination</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.destination }}</td>
                <td style="border:1px solid #000;padding:6px;">Net Weight/KG</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.net_weight }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">Gross Weight/KG</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.gross_weight }}</td>
                <td style="border:1px solid #000;padding:6px;">Part Of Shipment</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.part_of_shipment }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">Transportation Terms</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.transportation_terms }}</td>
                <td style="border:1px solid #000;padding:6px;">Destination of Packing</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.description_packing }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">Payment Terms</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.payment_terms }}</td>
                <td style="border:1px solid #000;padding:6px;">Mode of Transportation</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.mode_of_transportation }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">CPI Currency</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.cpi_currency }}</td>
                <td style="border:1px solid #000;padding:6px;">Delivery Terms</td>
                <td style="border:1px solid #000;padding:6px;">{{ invoiceObj?.delivery_terms }}</td>
            </tr>

            <tr>
                <td style="border:1px solid #000;padding:6px;">Delivery Date</td>
                <td style="border:1px solid #000; padding:6px;">{{ invoiceObj?.delivery_date }}</td>
                <td style="border:1px solid #000; padding:6px;">PGM Remark</td>
                <td style="border:1px solid #000; padding:6px;">{{ invoiceObj?.pgm_remark }}</td>
            </tr>
    </table>

    <!-- DECLARATION -->
    <div class="flex flex-row border-1 mt-2">
        <div class="w-6 p-2">
            <!-- <b><u>Declaration:</u></b><br>
            We declare that this invoice shows the actual price of the goods
            described and that all particulars are correct. -->
        </div>

        <div class="w-6 p-2 text-right">
            <div>For {{ companyName }}</div>
            <div style="margin-top: 40px;">Authorised Signatory</div>
        </div>
    </div>

    <p style="text-align: center;">This is a Computer Generated Invoice</p>

</div>
