<div [formGroup]="form">
  <div id="field?.name" class="password-wrapper">
    <div class="field w-full body">
      <span class="p-input-icon-right">
        <i [class]="showEyeIcon ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="toggleIcon()"></i>
        <input [id]="field?.name" [name]="field?.name" [formControlName]="field?.name" class="{{ field?.actionButton?.length ? 'border-radius-right' : '' }}"
          [type]="showEyeIcon ? 'password' : 'text'" pInputText [class.ng-invalid]="!isValid"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]).{8,}"
          [class.ng-dirty]="!isValid" [readonly]="field?.readonly" [pTooltip]="field?.toolTip"
          [tooltipPosition]="field?.tooltipPosition ?? 'right'" tooltipEvent="focus" [showDelay]="500">
          <!-- <span *ngIf="field?.validation?.required" class="text-danger">*</span> -->
      </span>
      @for(action of field?.actionButton; track action?.show; let first = $first, last = $last){
        <button *ngIf="action?.show" pButton pRipple type="button" class="border-radius-left"
          [icon]="action?.icon" 
          (click)="onClickActionButton($event, field, action)" [pTooltip]="action?.toolTip"
          [tooltipPosition]="action?.tooltipPosition" [class]="action?.class" [iconPos]="action?.iconPos"
          [label]="action?.label || ''"
          [disabled]="action?.isDisableFunction ? disableActionButton(action?.disableFunction) : action?.disabled">
        </button>
      }
    </div>
  </div>

  <div *ngIf="inValid && (isDirty || isTouched)" class="p-error block">
    <small *ngIf="isError">{{errorText}}</small>
  </div>
</div>