<div class="container">
    <div *ngFor="let field of fields">
        <div [ngSwitch]="field.type">
            <!-- Add a new *ngSwitchCase + matching standalone import here whenever HRM needs
                 another static print type (see hrm-shared/sanadi-library/dynamic-print-receipt-generator/README
                 note in the component - this used to carry 16 more cases for print types no HRM
                 screen ever configured; removed since they were dead weight copied in wholesale
                 from the host's own generic print engine). -->
            <sanadi-career-letter-print *ngSwitchCase="'career-letter-print'" [field]="field"></sanadi-career-letter-print>
        </div>
    </div>
</div>
