<div class="cards" style="color: black; background-color: white !important; ">
    <ng-container *ngIf="false">
    <div class="col-12"
        style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
        <div class="container" style="flex: 1; text-align: left;">
            &nbsp;
            <!-- <div class="logo">
                <img src="{{companyLogo}}" alt="logo" class="img-fluid" style="width: 100px; height: auto;">
            </div> -->
        </div>
        <div class="container" style="flex: 1; text-align: right;">
            <div class="logo">
                <img src="{{companyLogo}}" alt="logo" class="img-fluid" style="width: 100px; height: auto;">
            </div>
        </div>
    </div>
    </ng-container>


    <div class="flex justify-content-center">
        <h4><b><span *ngIf="!debitnoteObj?.product_service">DEBIT</span> NOTE</b></h4>
    </div> 

    <!-- @if(debitnoteObj?.signed_qr_code){
    <div class="flex justify-content-between align-items-center border-solid border-600 border-1 mt-2 p-2">
        <div>
            <p>IRN: <b>{{debitnoteObj?.irn_number}}</b></p>
            <p>Ack No.: <b>{{debitnoteObj?.ack_no}}</b></p>
            <p>Ack Date: <b>{{ debitnoteObj?.ack_date | date: 'dd-MMM-yyyy' }}</b></p>

        </div>

        <div class="flex flex-column justify-content-center align-items-center">
            <span class="font-semibold">e-Invoice</span>
            <qrcode [qrdata]="debitnoteObj?.signed_qr_code" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
        </div>

    </div>
    } -->
    <!-- <div *ngIf="debitnoteObj?.is_sez || debitnoteObj?.is_export"
        class="text-center border-solid border-600 border-1 mt-2 p-2  border-bottom-none w-full">
        (SUPPLY MEANT FOR EXPORT/SUPPLY TO SEZ UNIT OR SEZ DEVELOPER FOR AUTHORISED OPERATIONS UNDER BOND OR
        LETTER OF UNDERTAKING WITHOUT PAYMENT OF IGST)
    </div> -->
    <div class="flex flex-row">
        <div class="w-7  border-1 border-bottom-none  border-black-alpha-90">
            <div class="p-2  border-bottom-1 border-black-alpha-90">
                <div class="font-bold" style="font-size: 12px;">{{companyName}}</div>
                <span *ngIf="registeredAddress">
                    <div *ngFor="let address of getTextarea(registeredAddress)">
                        {{ address }}
                    </div>
                </span>
                <div *ngIf="gstNo">GSTIN/UIN: {{ gstNo }}</div>
                <div *ngIf="stateName && stateCode">
                    State Name: {{ stateName }}, Code: {{ stateCode }}
                </div>
                <!-- <div *ngIf="phoneNo">Contact: {{ phoneNo }}</div> -->
                <!-- <div *ngIf="email">Email: {{ email }}</div> -->
                <div *ngIf="cinNo">CIN: {{ cinNo }}</div>
                <div *ngIf="email">E-mail: {{ email }}</div>
            </div>

            <div class="p-2 border-black-alpha-90">
                <div>Consignee (Ship to)</div>
                <!-- <span><b>{{debitnoteObj?.party_name}}</b></span> -->
                <div *ngFor="let description of getTextarea(debitnoteObj?.ship_to_address)">
                    {{ description }}
                </div>
                <!-- <div *ngIf="gstNo">GSTIN/UIN: {{ gstNo }}</div> -->
            </div>

            <div class="p-2 border-top-1 border-black-alpha-90">
                <div>Buyer (Bill to)</div>
                <span><b>{{debitnoteObj?.party_name}}</b></span>
                <div *ngFor="let description of getTextarea(debitnoteObj?.bill_to_address)">
                    {{ description }}
                </div>
                <!-- <div *ngIf="selectCustomerObject?.billing_gstin_no">
                    GSTIN/UIN: {{ selectCustomerObject?.billing_gstin_no}}
                </div> -->
                <!-- <div *ngIf="selectCustomerObject?.billing_state && selectCustomerObject?.billing_state_code">
                    State Name: {{ selectCustomerObject?.billing_state || '' }}, Code: {{
                    selectCustomerObject?.billing_state_code || '' }}
                </div> -->
            </div>
        </div>
        <div class="w-5 h-40rem border-black-alpha-90 border-right-1 border-black-alpha-90">
            <div class="flex flex-row  border-black-alpha-90">
                <div class="w-6 p-2 border-top-1 border-bottom-1  border-black-alpha-90">
                    <div>
                        Invoice No:
                    </div>
                    <div
                        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
                        {{debitnoteObj?.debit_note_no}}
                    </div>
                </div>
                <div class="w-6 p-2 border-1 border-black-alpha-90 border-right-none ">
                    <div>
                        Dated:
                    </div>
                    <div
                        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
                        {{debitnoteObj?.date}}
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div class="text-xs">
                        Original Invoice No. & Date
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.supplier_invoice_number}} dt. {{debitnoteObj?.supplier_invoice_date}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                       Other References
                    </div>
                    <div
                        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
                        {{debitnoteObj?.customer_po_date}}
                    </div>
                </div>
            </div>
            <!-- <div class="flex flex-row ">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90">
                    <div>
                        Payment terms:
                    </div>
                    <div
                        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
                        {{debitnoteObj?.payment_terms}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1 border-bottom-1 border-black-alpha-90 border-right-none ">
                    <div>
                        Terms of Delivery:
                    </div>
                    <div
                        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
                        {{debitnoteObj?.delivery_terms}}
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        Delivery Note No:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.dc_nos}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                        Delivery Note Date:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.dc_dates}}
                    </div>
                </div>
            </div>
            <div class="flex flex-row" *ngIf="debitnoteObj?.is_sez">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        LUT/Bond No.: {{debitnoteObj?.lut_number}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                        <div> From Date: {{debitnoteObj?.from_date}} </div>
                        To Date: {{debitnoteObj?.to_date}}
                    </div>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        Transporter:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.dispatched_through}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                        Destination:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.destination}}
                    </div>
                </div>
            </div>

            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        Bill of Lading/LR-RR No.:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.bill_of_lading_lr_rr_no}}
                    </div>

                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                        LR-RR Date:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.lr_rr_date}}
                    </div>
                </div>
            </div>

            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        Motor Vehicle No.:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.vehicle_no}}
                    </div>

                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    <div>
                        LC No. and Date:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.lc_no}} / {{ debitnoteObj?.lc_date }}
                    </div>
                </div>
            </div>

            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90," style="text-wrap: wrap;">
                    <div>
                        LUT No:
                    </div>
                    <div class="font-bold">
                        {{debitnoteObj?.lut_number}}
                    </div>
                </div>
                <div class="w-6 p-2 border-left-1  border-bottom-1 border-black-alpha-90 border-right-none"
                    style="text-wrap: wrap;">
                    &nbsp;
                </div>
            </div> -->
            <!-- @if (false) {
                <div class="">
                    <div class="ml-2">Terms and Conditions</div>
                    <table>
                        <tbody style="text-align: justify; color: black; font-size: 12px;">
                            <tr class="ml-2"
                                *ngFor="let item of debitnoteObj?.invoice_terms_and_condition;let index = index;">
                                <td class="ml-2">
                                    {{ index + 1 }}
                                    <span *ngIf="item?.term && item?.description">-</span> {{
                                    item?.description }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            } -->
        </div>
    </div>



    <table class="w-12" style="border-collapse: collapse; text-align: center; color: black;">
        <thead class="text-base">
            <tr>
                <th rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">Sl.No.</th>
                <th rowspan="2" class="w-3 p-2 border-1 border-black-alpha-90">Description of Goods</th>
                <th rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">HSN/SAC</th>
                <ng-container *ngIf="hasTaxValue()">
                    <ng-container *ngIf="debitnoteObj?.igst === 0; else IGST">
                        <th  class="w-2 p-0 border-1 border-black-alpha-90">CGST/SGST</th>
                    </ng-container>
                    <ng-template #IGST>
                        <th  class="w-1 p-0 border-1 border-black-alpha-90">GST Rate %</th>
                    </ng-template>
                </ng-container>

                <th rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">Quantity</th>
                <th rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">Rate <span
                        *ngIf="debitnoteObj?.currency">({{ debitnoteObj?.currency }})</span>
                    <span *ngIf="!debitnoteObj?.currency">(INR)</span>
                </th>
                <th rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">per</th>
                
                <!-- <th *ngIf="hasDiscount()" rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">Discount %</th>
                <th *ngIf="hasDiscount()" rowspan="2" class="w-1 p-2 border-1 border-black-alpha-90">Taxable
                    Value <span *ngIf="debitnoteObj?.currency">({{ debitnoteObj?.currency }})</span>
                    <span *ngIf="!debitnoteObj?.currency">(INR)</span>
                </th> -->
                
                <th *ngIf="hasTaxValue() || hasDiscount()" rowspan="2" class="w-1 p-1 border-1 border-black-alpha-90">
                    Discount %
                    
                </th>   
                <th *ngIf="hasTaxValue() || hasDiscount()" rowspan="2" class="w-2 p-1 border-1 border-black-alpha-90">
                    Total Amount
                    <span *ngIf="debitnoteObj?.currency">({{ debitnoteObj?.currency }})</span>
                    <span *ngIf="!debitnoteObj?.currency">(INR)</span>
                </th>
            </tr>
            <!-- <tr *ngIf="hasTaxValue()">
                <th class="w-0 p-2 border-1 border-black-alpha-90">Rate</th>
                <th class="w-0 p-2 border-1 border-black-alpha-90">Amount</th>
            </tr> -->
        </thead>

        <tbody class="text-base">
            <tr *ngFor="let item of debitnoteObj?.debit_note_details; let index = index;">
                <td class="w-0 p-2 border-1 border-black-alpha-90 align-content-start w-1">{{ index + 1 }}</td>
                <!-- DESCRIPTION -->
                <td class="w-3 p-2 border-1 border-black-alpha-90 align-content-start">
                    <!-- <div *ngIf="item.description">{{ item.description }}</div> -->
                    <div class="text-left">
                        @if (item.item_code) {
                            <small class="value">{{ item?.item_code ?
                                item?.item_code : "-" }}</small><br />
                        }
                        @if (item.product_name) {
                            <small class="value">{{ item?.product_name ?
                                item.product_name : "-" }}</small><br />
                        }
                        <!-- <small class="label">SL.No :</small><small class="value">{{ item?.serial_number ?
                            item.serial_number : "-" }}</small> -->
                    </div>
                </td>
                <td class="w-1 p-2 border-1 border-black-alpha-90 text-left pl-4">{{ item.hsn }}</td>
                <td *ngIf="hasTaxValue()" class="w-1 p-2 border-1 border-black-alpha-90">
                    {{ formatDiscount(item?.tax)}}  
                </td>
                <td class="w-0 p-2 border-1 border-black-alpha-90 text-left pl-5"><b><span style="text-align: center;">{{ item?.quantity }} <span style="text-align: right;">{{ item?.unit_name }} </span></span></b></td>
                <td class="w-1 p-2 border-1 border-black-alpha-90 text-right pr-3">{{ item?.unit_price | number:'1.2-2'}}</td>
                <td class="w-1 p-2 border-1 border-black-alpha-90">{{ item?.unit_name }}</td>

                <!-- <td *ngIf="hasDiscount()" class="w-1 p-2 border-1 border-black-alpha-90">
                    {{ formatDiscount(item?.discount) }}
                    </td> -->
                <!-- <td class="w-1 p-2 border-1 border-black-alpha-90">{{ item?.total_amount | number:'1.2-2'}}</td> -->
                <!-- <td *ngIf="hasDiscount()" class="w-1 p-2 border-1 border-black-alpha-90">
                    {{ (item?.final_price)| number:'1.2-2' }}
                </td> -->
          
                <td *ngIf="hasTaxValue()" class="w-0 p-2 border-1 border-black-alpha-90">
                    {{ formatDiscount(item?.discount) }}
                 </td>
                <td *ngIf="hasTaxValue() || hasDiscount()" class="w-2 p-2 border-1 border-black-alpha-90 text-right pr-7">
                    {{ (item?.taxable_amount)  | number:'1.2-2' }}
                     <!-- {{ (item?.taxable_amount) + (+item?.tax_value || 0) | number:'1.2-2' }} -->
                </td>
            </tr>

            <!-- CGST + SGST Rows -->
            <ng-container *ngIf="debitnoteObj?.igst == 0">
            <tr>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-3 p-2 border-1 border-bottom-none border-black-alpha-90 text-right font-bold">CGST</td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-2 p-2 border-1 border-bottom-none border-black-alpha-90 text-right pr-7" *ngIf="debitnoteObj?.cgst">
                {{ debitnoteObj?.cgst | number:'1.2-2' }}
                </td>
            </tr>
            <tr>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-3 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90 text-right font-bold">SGST</td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-2 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90 text-right pr-7" *ngIf="debitnoteObj?.sgst">
                {{ debitnoteObj?.sgst | number:'1.2-2'}}
                </td>
            </tr>
            </ng-container>

            <!-- IGST Row -->
            <ng-container *ngIf="debitnoteObj?.igst != 0">
            <tr>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-3 p-2 border-1 border-bottom-none border-black-alpha-90 text-right font-bold">IGST</td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-bottom-none border-black-alpha-90"></td>
                <td class="w-2 p-2 border-1 border-bottom-none border-black-alpha-90 text-right pr-7" *ngIf="debitnoteObj?.igst">
                {{ debitnoteObj?.igst | number:'1.2-2' }}
                </td>
            </tr>
            </ng-container>

            <tr >
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-3 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90 text-left font-bold"><u>Bill Details:</u></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90"></td>
                <td class="w-2 p-2 border-1 border-top-none border-bottom-none border-black-alpha-90" ></td>
                
            </tr>
            <tr *ngFor="let item of debitnoteObj?.bill_wise_reference_details; let index = index;" >
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-3 p-2 border-1 border-top-none border-black-alpha-90 text-left text-xs">
                {{ item?.type_of_ref }}&nbsp;&nbsp;&nbsp; {{ item?.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item?.counter_currency_amount| number:'1.0-2' }}&nbsp;&nbsp;&nbsp; <i>Dr</i>
                </td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-1 p-2 border-1 border-top-none border-black-alpha-90"></td>
                <td class="w-2 p-2 border-1 border-top-none border-black-alpha-90" ></td>
                
            </tr>

        </tbody>

          <tr class="text-base font-bold">
            <td class="w-1 p-2 border-1 border-black-alpha-90 w-1"></td>
            <td class="w-3 p-2 border-1 border-black-alpha-90 align-items-end text-right">Total</td>

            <td class="w-1 p-2 border-1 border-black-alpha-90"></td>
            <td class="w-1 p-2 border-1 border-black-alpha-90" style="text-align: center; ">
                <!-- {{ debitnoteObj?.total_qty }}   -->
            </td>
            <td class="w-1 p-2 border-1 border-black-alpha-90" *ngIf="debitnoteObj?.total_quantity">{{debitnoteObj?.total_quantity}}</td>
            <td class="w-1 p-2 border-1 border-black-alpha-90"></td>
            <ng-container *ngIf="false">
            <td class="w-1 p-2 border-1 border-black-alpha-90" *ngIf="hasDiscount()">
                <!-- *ngIf="hasDiscount()" class="w-1 p-2 border-1 border-black-alpha-90"> -->
                <!-- {{ calculateDiscountTotal() | number:'1.2-2' }} -->
            </td>
            <!-- <td class="w-1 p-2 border-1 border-black-alpha-90"></td> -->

            <td *ngIf="hasDiscount()" class="w-1 p-2 border-1 border-black-alpha-90">
                {{ debitnoteObj?.taxable_amount | number:'1.2-2'    
                }}
            </td>
            </ng-container>
            <td *ngIf="hasTaxValue()" class="w-1 p-2 border-1 border-black-alpha-90"></td>
            <td *ngIf="hasTaxValue()" class="w-1 p-2 border-1 border-black-alpha-90">
                <!-- {{ calculateTaxTotal() | number:'1.2-2' }} -->
            </td>
            <td *ngIf="hasTaxValue() || hasDiscount()" class="w-2 p-2 border-1 border-black-alpha-90 text-right pr-7">
                ₹{{ grandTotalValue() | number:'1.2-2' }}
            </td>
        </tr>

        <!-- <tr *ngIf="debitnoteObj?.adjust_amount">
            <td [attr.colspan]="calculateColspan()" class="font-bold"
                style="text-align: right; font-size: 12px; padding: 5px; border: 1px solid black;">
                Adjust Amount
            </td>
            <td style="text-align: center; font-size: 12px; padding: 5px; border: 1px solid black;">
                {{ debitnoteObj?.adjust_amount | number: '1.2-2' }}
            </td>
        </tr> -->
        <!-- <tr *ngIf="debitnoteObj?.tcs">
            <td [attr.colspan]="calculateColspan()" class="font-bold"
                style="text-align: right; font-size: 12px; padding: 5px; border: 1px solid black;">
                TCS
            </td>
            <td style="text-align: center; font-size: 12px; padding: 5px; border: 1px solid black;">
                {{ debitnoteObj?.tcs | number: '1.2-2' }}
            </td>
        </tr> -->
        <!-- <tr *ngIf="debitnoteObj?.charge_value">
            <td [attr.colspan]="calculateColspan()" class="font-bold"
                style="text-align: right; font-size: 12px; padding: 5px; border: 1px solid black;">
                Charge Value
            </td>
            <td style="text-align: center; font-size: 12px; padding: 5px; border: 1px solid black;">
                {{ debitnoteObj?.charge_value | number: '1.2-2' }}
            </td>
        </tr> -->
        <!-- *ngIf="debitnoteObj?.charge_value || debitnoteObj?.tcs || debitnoteObj?.adjust_amount" -->
        <!-- <tr class="font-bold">
            <td [attr.colspan]="calculateColspan()"
                style="text-align: right; font-size: 12px; padding: 5px; border: 1px solid black;">
                Grand Total
            </td>
            <td style="text-align: center; font-size: 12px; padding: 5px; border: 1px solid black;">
                {{ debitnoteObj?.grand_total | number: '1.2-2' }}
            </td>
        </tr> -->

        
    </table>



    
    <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
        <div style="display: flex; justify-content: space-between;">
            <div>Amount Chargeable (in words)</div>
            <div>E.& OE</div>
        </div>
        <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: small;">
            Total :
            {{this.amountInWord(debitnoteObj?.grand_total )}}</div>
    </div>

    <!-- <ng-container *ngIf="false">
    <span *ngIf="this.hasTaxValue() == true">
        <table class="table table-sm text-nowrap w-12" style="border-collapse: collapse;">
            <thead>
                <tr class="text-base">
                    <th class="w-3 p-2 border-1 border-black-alpha-90">HSN/SAC</th>
                    <th class="w-2 p-2 border-1 border-black-alpha-90">Taxable Value</th>
                    <ng-container *ngIf="debitnoteObj?.igst === 0; else igstHeader">
                        <th class="w-2  p-0 border-1 border-black-alpha-90">
                            <div class="w-12  flex align-items-center justify-content-center">CGST
                            </div>
                            <div class="w-12  flex flex-row">
                                <div
                                    class="w-4 border-right-1 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Rate</div>
                                <div
                                    class="w-8 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Amount</div>
                            </div>
                        </th>
                        <th class="w-2  p-0 border-1 border-black-alpha-90">
                            <div class="w-12  flex align-items-center justify-content-center">
                                SGST/UTGST</div>
                            <div class="w-12  flex flex-row">
                                <div
                                    class="w-4 border-right-1 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Rate</div>
                                <div
                                    class="w-8 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Amount</div>
                            </div>
                        </th>
                    </ng-container>
                    <ng-template #igstHeader>
                        <th colspan="4" class="w-4  p-0 border-1 border-black-alpha-90">
                            <div class="w-12  flex align-items-center justify-content-center">IGST
                            </div>
                            <div class="w-12  flex flex-row">
                                <div
                                    class="w-4 border-right-1 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Rate</div>
                                <div colspan="2"
                                    class="w-8 border-top-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    Amount</div>
                            </div>
                        </th>
                    </ng-template>
                    <th colspan="2" class="w-2 p-2 border-1 border-black-alpha-90">Total Tax Amount</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of getDebitNoteDetailsMode();" class="text-base">
                <tr>
                    <td class="w-3 p-2 border-1 border-black-alpha-90">{{ item?.hsn }}</td>
                    <td class="w-2 p-2 border-1 border-black-alpha-90">
                        {{ (item?.taxable_amount || 0)| number:'1.2-2' }}
                    </td>
                    <ng-container *ngIf="debitnoteObj?.igst === 0; else igstRow">
                        <td class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                            <div class="w-12 flex flex-row">
                                <div
                                    class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ (item?.tax || 0) / 2 | number:'1.3-3' }} %
                                </div>
                                <div
                                    class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ (item?.tax_value || 0) / 2 | number:'1.3-3' }}
                                </div>
                            </div>
                        </td>
                        <td class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                            <div class="w-12 flex flex-row">
                                <div
                                    class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ (item?.tax || 0) / 2 | number:'1.3-3' }} %
                                </div>
                                <div
                                    class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ (item?.tax_value || 0) / 2 | number:'1.3-3' }}
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-template #igstRow>
                        <td colspan="4" class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                            <div class="w-12 flex flex-row">
                                <div
                                    class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ item?.tax || 0 | number:'1.2-2' }} %
                                </div>
                                <div
                                    class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                    {{ item?.tax_value || 0 | number:'1.2-2' }}
                                </div>
                            </div>
                        </td>
                    </ng-template>
                    <td colspan="2" class="w-2 p-2 border-1 border-black-alpha-90">{{ item?.tax_value || 0
                        | number:'1.2-2' }}</td>
                </tr>
            </tbody>
            <tr class="text-base">
                <td class="w-3 p-2 border-1 border-black-alpha-90">Total</td>
                <td class="w-2 p-2 border-1 border-black-alpha-90">
                    {{ ((debitnoteObj?.total || 0) - (debitnoteObj?.discount || 0)) | number:'1.2-2' }}
                </td>
                <ng-container *ngIf="debitnoteObj?.igst === 0; else igstFooter">
                    <td class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                        <div class="w-12 flex flex-row">
                            <div
                                class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">

                            </div>
                            <div
                                class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                {{ totalTaxAmount ? (totalTaxAmount / 2 | number:'1.3-3') : '0.00' }}
                            </div>
                        </div>
                    </td>
                    <td class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                        <div class="w-12 flex flex-row">
                            <div
                                class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">

                            </div>
                            <div
                                class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                {{ totalTaxAmount ? (totalTaxAmount / 2 | number:'1.3-3') : '0.00' }}

                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-template #igstFooter>
                    <td colspan="4" class="w-2 h-3rem p-0 border-1 border-black-alpha-90">
                        <div class="w-12 flex flex-row">
                            <div
                                class="w-4 h-3rem border-right-1 border-black-alpha-90 flex align-items-center justify-content-center">

                            </div>
                            <div
                                class="w-8 h-3rem border-black-alpha-90 flex align-items-center justify-content-center">
                                {{ totalTaxAmount ? (totalTaxAmount | number:'1.2-2') : '0.00' }}
                            </div>
                        </div>
                    </td>
                </ng-template>
                <td colspan="2" class="w-2 p-2 border-1 border-black-alpha-90"> {{ totalTaxAmount ?
                    (totalTaxAmount | number:'1.2-2') : '0.00' }}
                </td>
            </tr>


        </table>
        <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
            <div style="display: flex; justify-content: space-between;">
                <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 11px;">
                    Total Amount (in words) : {{this.amountInWord(totalTaxAmount || 0)}}</div>
            </div>
        </div>
    </span>
    </ng-container> -->


    <div>
        <div>
            <!-- <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
                <div *ngIf="debitnoteObj.note">Remarks:</div>
                <div *ngIf="debitnoteObj.note">{{debitnoteObj?.note || ''}}</div>
            </div> -->
            <div class="flex flex-row  border-black-alpha-90 border-bottom-1 border-right-1 border-left-1">
                <div class="w-6  flex flex-column justify-content-between">
                    <!-- <div>Company's PAN: {{ companyPan }}</div> -->
                    <!-- <div>Company's GSTIN/UN: {{ gstNo }}</div> -->
                    <!-- <div>Buyer's PAN: {{companyPan}}</div> -->
                    <!-- @if (debitnoteObj?.eway_bill_no) { -->
                    <!-- <div><b>E way bill no:</b> {{ debitnoteObj?.eway_bill_no || '' }}</div>
                    <div><b>Note:</b> {{ debitnoteObj?.note || '' }}</div> -->
                    <!-- } -->
                    <div class="p-2 " style="white-space: pre-line;"><i><b>Reasons:</b></i><br>
                        <!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                       <!-- Reason for Debit Note: The material was ordered incorrectly,
                       and the same item was returned to the supplier. Hence debit
                       note raised for mentioned item. -->
                    {{debitnoteObj?.reasons}}
                    </div>
                </div>
                <div
                    class="w-6 flex flex-column justify-content-between  border-black-alpha-90  border-left-1 border-top-1">
                    <div class="flex flex-column justify-content-between h-6rem align-items-end p-2 ">
                        <div><b>for {{companyName}}</b></div>
                        <div>Authorised Signatory</div>
                    </div>
                </div>
            </div>
            <p style="text-align: center;">This is a Computer Generated Document</p>
        </div>
    </div>
    <span class="changescolor">
    </span>
    <!-- </div> -->
    <!-- @if(debitnoteObj?.need_eway_bill && debitnoteObj?.eway_bill_no){
    <div style=" page-break-before: always;">
        <sanadi-eway-bill-print [invoiceData]="debitnoteObj"></sanadi-eway-bill-print>
    </div>
    } -->
</div>