<div class="cards" style="color: black; background-color: white !important;">

    <div class="col-12 flex justify-space-between align-items-center">

        <!-- Center Title -->
        <div class="flex-1 flex justify-content-first">
            <h4><b>PACKING LIST</b></h4>
        </div>

        <!-- Logo -->
        <div class="flex-1 flex justify-content-end">
            <img *ngIf="companyLogo" [src]="companyLogo" class="img-fluid" style="width: 80px;">
        </div>

    </div>




    <!-- ADDRESS BLOCK -->
    <div class="flex flex-row mt-2">

        <!-- LEFT SIDE -->
        <div class="w-7 border-1 border-bottom-none border-black-alpha-90">

            <!-- SELLER DETAILS -->
            <div class="p-2 border-bottom-1 border-black-alpha-90">
                <div class="font-bold" style="font-size: 12px;">{{ companyName }}</div>

                <div *ngFor="let address of getTextarea(registeredAddress)">
                    {{ address }}
                </div>

                <!-- <div *ngIf="gstNo">GSTIN/UIN: {{ gstNo }}</div> -->
                <div *ngIf="stateName && stateCode">State Name: {{ stateName }}, Code: {{ stateCode }}</div>
                <div *ngIf="cinNo">CIN: {{ cinNo }}</div>
            </div>

            <!-- CONSIGNEE -->
            <!-- <div class="p-2 border-black-alpha-90">
                <b>CONSIGNEE NOTIFY </b>
                <div *ngFor="let x of getTextarea(packinglistObj?.ship_to_address)">
                    {{ x }}
                </div>
            </div> -->

            <!-- BUYER -->
            <!-- <div class="p-2 border-top-0 border-bottom-0 border-black-alpha-90">
                <b>CONSSIGNEE NOTIFY</b><br>
                <b>{{ packinglistObj?.customer_name }}</b>

                <div *ngFor="let x of getTextarea(packinglistObj?.customer_address)">
                    {{ x }}
                </div>
            </div>
            <div class="p-2 border-top-0 border-bottom-0 border-black-alpha-90">
                <b>BUYER (Bill To)</b><br>
                <b>{{ packinglistObj?.customer_name }}</b>

                <div *ngFor="let x of getTextarea(packinglistObj?.customer_address)">
                    {{ x }}
                </div>  
            </div> -->
            <!-- CONSIGNEE NOTIFY and BUYER side by side -->
            <div class="flex flex-row">

                <!-- CONSIGNEE NOTIFY (Left side) -->
                <div class="w-6 p-2 border-1" style="border-left: 0; border-bottom: 0; border-top: 0;">
                    <b>CONSIGNEE NOTIFY</b><br>
                    <b>{{ packinglistObj?.consignee_name || packinglistObj?.customer_name }}</b>

                    <div
                        *ngFor="let x of getTextarea( packinglistObj?.customer_address)">
                        {{ x }}
                    </div>
                </div>

                <!-- BUYER (Bill To) (Right side) -->
                <div class="w-6 p-2 border-1" style="border-left: 0; border-bottom: 0; border-top: 0; border-right:0;">
                <!-- <div class="w-6 p-2 border-0 border-black-alpha-90; border-bottom: 1 border-left-0"> -->
                    <b>BUYER (Bill To)</b><br>
                    <b>{{ packinglistObj?.customer_name }}</b>

                    <div
                        *ngFor="let x of getTextarea(packinglistObj?.customer_address || packinglistObj?.bill_to_address)">
                        {{ x }}
                    </div>
                </div>

            </div>

        </div>

        <!-- RIGHT SIDE -->
        <div class="w-5 border-black-alpha-90 border-right-1">

            <!-- INVOICE INFO -->
            <div class="flex flex-row border-black-alpha-90">
                <div class="w-6 p-2 border-top-1 border-bottom-1 border-black-alpha-90">
                    Packing List No.:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.packing_list_no }}</div>
                </div>

                <div class="w-6 p-2 border-top-1 border-left-1 border-bottom-1 " style="color: black;">
                    Packing List Date:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.packing_date }}</div>
                </div>
            </div>

            <!-- ORDER DETAILS -->
            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
                    Packing Commercial Invoice:
                    <div class="font-bold" style="color: black;">{{ packinglistObj?.default_invoice_number.invoice_no }}</div>
                </div>

                <div class="w-6 p-2 border-bottom-1 border-left-1 " style="color: black;">
                    PI Number:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.pi_no }}</div>
                </div>
            </div>

            <!-- TERMS -->
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
                    PI Date:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.pi_date }}</div>
                </div>
                <div class="w-12 p-2 border-bottom-1 border-left-1 " style="color: black;">
                    Customer PO No.:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.remarks }}</div>
                </div>

            </div>
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-0 border-black-alpha-90" style="color: black;">
                    Customer PO Date:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.payment_terms }}</div>
                </div>
                <!-- <div class="w-12 p-2 border-bottom-0 border-left-1 " style="color: black;"> -->
                    <!-- Dispatch Mode: -->
                    <!-- <div class="smallText" style="color: black;">{{ packinglistObj?.mode_of_dispatch }}</div>
                </div> -->

            </div>
            <!-- <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-0 border-black-alpha-90" style="color: black;">
                    Port Of Discharge:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.port_of_discharge }}</div>
                </div>
                <div class="w-12 p-2 border-left-1 border-bottom-0 border-black-alpha-90" style="color: black;">
                    Estimated Delivery Date:
                    <div class="smallText" style="color: black;">{{ packinglistObj?.estimated_delivery_date }}</div>
                </div>
                
            </div> -->

            <!-- <div class="flex flex-row">
        <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
            <div class="ml-2" style="color: black;">Terms and Conditions:</div> -->

            <!-- <table class="no-border-table" style="color: black;">
                <tbody>
                    <tr *ngFor="let item of salesOrderProfileObj?.sales_quotation_terms_and_condition; let index = index;">
                        <td style="color: black;">
                            {{ index + 1 }} {{ item?.description }}
                        </td>
                    </tr>
                </tbody>
            </table> -->

            <!-- </div>
    </div> -->

        </div>


    </div>

    <!-- ITEMS TABLE -->
    <table class="w-12" style="border-collapse: collapse; text-align: center;  font-size: 11px; ">
        <thead class="text-base">
            <tr>
                <th rowspan="2" class="p-2 border-1">Sl.No.</th>
                <th rowspan="2" class="p-2 border-1">Part Number</th>
                <th rowspan="2" class="p-2 border-1">Product Name</th>
                <th rowspan="2" class="p-2 border-1">Customer PO Number</th>
                <th rowspan="2" class="p-2 border-1">HS Code</th>
                <th rowspan="2" class="p-2 border-1">UOM</th>
                <th rowspan="2" class="p-2 border-1">Qty</th>
                <th rowspan="2" class="p-2 border-1">GROSS WEIGHT</th>
                <th rowspan="2" class="p-2 border-1">No Of ({{ packinglistObj?.pallet_bags || '' }}) </th>
                <!-- <th rowspan="2" class="p-2 border-1">TOTAL GROSS WEIGHT</th> -->
                <!-- <th rowspan="2" class="p-2 border-1">
                    Rate ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->

                <!-- DISCOUNT -->
                <!-- <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">Discount</th> -->

                <!-- TAXABLE VALUE -->
                <!-- <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">
                    Taxable Value ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->

                <!-- TAX COLUMNS -->
                <!-- <ng-container *ngIf="hasTaxValue()">
                    <th colspan="2" class="p-2 border-1">
                        {{ isForeign ? 'VAT' : (salesOrderProfileObj?.igst ? 'IGST' : 'CGST / SGST') }}
                    </th>
                </ng-container> -->

                <!-- TOTAL -->
                <!-- <th *ngIf="hasTaxValue() || hasDiscount()" rowspan="2" class="p-2 border-1">
                    Total ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->
            </tr>

            <!-- SUB TAX HEADERS -->
            <!-- <tr *ngIf="hasTaxValue()">
                <th class="p-2 border-1">Rate</th>
                <th class="p-2 border-1">Amount</th>
            </tr> -->
        </thead>

        <tbody>

            <tr *ngFor="let item of packinglistObj?.packing_details; let i = index;">
                <td class="p-2 border-1">{{ i + 1 }}</td>

                <td class="p-2 border-1 text-left">
                    <div *ngIf="item.item_code">{{ item.part_number }}</div>
                    <!-- <div *ngIf="item.drawing_number">{{ item.drawing_number }}</div>
                    <div *ngIf="item.product_name">{{ item.product_name }}</div> -->
                </td>

                <td class="p-2 border-1">{{ item.product_name }}</td>
                <td class="p-2 border-1">{{ item.description }}</td>
                <td class="p-2 border-1">{{ item.hsn }}</td>
                <td class="p-2 border-1">{{ item.unit}}</td>
                <td class="p-2 border-1">{{ item.quantity }}</td>
                <td class="p-2 border-1">{{ item.gross_weights}}</td>
                <td class="p-2 border-1">{{ item.pallets_bag_carton_selections }}</td>
                <!-- <td class="p-2 border-1">{{ '' }}</td> -->

                <!-- <td *ngIf="hasDiscount()" class="p-2 border-1">{{ item.discount_amount }}</td> -->

                <!-- <td *ngIf="hasDiscount()" class="p-2 border-1">
                    {{ item.taxable_amount | number:'1.2-2' }}
                </td> -->

                <!-- TAX -->
                <!-- <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax }}%</td>
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax_value | number:'1.2-2' }}</td> -->

                <!-- TOTAL -->
                <!-- <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                    {{ item.total | number:'1.2-2' }}
                </td> -->
            </tr>

        </tbody>

        <!-- TOTAL ROW -->
        <!-- <tr class="text-base font-bold border "> -->
        <!-- <td class="p-2 border-1"></td> -->
        <!-- <td class="p-2 border-1 text-right">Total</td> -->
        <!-- <td class="p-2 border-1"></td> -->
        <!-- <td class="p-2 border-1">{{ salesOrderProfileObj?.total_qty }}</td> -->
        <!-- <td class="p-2 border-1"></td> -->
        <!-- <td class="p-2 border-1">{{ calculatefinalPriceTotal() | number:'1.2-2' }}</td> -->
        <!-- 
            <td *ngIf="hasDiscount()" class="p-2 border-1"></td>

            <td *ngIf="hasDiscount()" class="p-2 border-1">
                {{ salesOrderProfileObj?.taxable_amount | number:'1.2-2' }}
            </td>

            <td *ngIf="hasTaxValue()" class="p-2 border-1"></td>

            <td *ngIf="hasTaxValue()" class="p-2 border-1">
                {{ calculateTaxTotal() | number:'1.2-2' }}
            </td>
 -->
        <!-- <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                {{ grandTotalValue() | number:'1.2-2' }}
            </td> -->
        <!-- <td colspan="8" style="text-align: right; font-size: 12px; padding:5px; border: 1px solid black;">Total</td>
            <td class="custom-styles">{{ salesOrderProfileObj?.total_qty }}</td> -->
        <!-- <td class="p-2 border-1" colspan="100%">{{ salesOrderProfileObj?.total_qty }}</td> -->
        <!-- <td class="p-2 border-1">{{ salesOrderProfileObj?.total_qty }}</td>-->
        <!-- </tr> -->
        <tr class="text-base font-bold">
            <td colspan="8" class="p-2 border-1 text-right">Total</td>
            <td class="p-2 border-1">{{ totalPallets }}</td>
        </tr>
        <tr class="text-base font-bold">
            <td colspan="8" class="p-2 border-1 text-right">TOTAL GROSS WEIGHT</td>
            <td class="p-2 border-1">{{ totalGrossWeight }}</td>
        </tr>
 


        <!-- EXTRA CHARGES -->
        <!-- 
        <tr *ngIf="salesOrderProfileObj?.adjust_amount">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Adjust Amount</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.adjust_amount | number:'1.2-2' }}</td>
        </tr>

        <tr *ngIf="salesOrderProfileObj?.tcs">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">TCS</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.tcs | number:'1.2-2' }}</td>
        </tr>
                <tr *ngIf="salesOrderProfileObj?.freight_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Freight Charges</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj.freight_charges | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="salesOrderProfileObj?.packing">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Packing</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj?.packing | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="salesOrderProfileObj?.other_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Other Charges</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj?.other_charges | number:'1.2-2' }}</td>
                </tr>


        <tr *ngIf="salesOrderProfileObj?.charge_value">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Charge Value</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.charge_value | number:'1.2-2' }}</td>
        </tr> -->

        <!-- GRAND TOTAL -->
        <!-- <tr class="font-bold">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right">Grand Total</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj?.grand_total | number:'1.2-2' }}</td>
        </tr> -->
    </table>

    <!-- AMOUNT IN WORDS -->
    <!-- <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
        <div style="display: flex; justify-content: space-between;">
            <div>Amount Chargeable (in words)</div>
            <div>E.& OE</div>
        </div>

        <div class="smallText">
            Total: {{ amountInWord(salesOrderProfileObj?.grand_total) }}
        </div>
    </div> -->
        <!-- SHIPPING DETAILS TABLE (Added from screenshot) -->
    <div class="mt-3" style="border: 1px solid black; font-size: 11px;">
        
        <!-- Header -->
        <div class="flex flex-row" style="border-bottom: 1px solid black;">
            <div class="w-3 p-1 text-center font-bold">OTHER NOTES</div>
            <div class="w-9"></div>
        </div>
        
        <!-- Content Rows -->
        <div class="flex flex-row" style="border-bottom: 1px solid black;">
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Country of Origin</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div>{{ packinglistObj?.country_of_origin || 'SOUTH KOREA' }}</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Partial Shipment</div>
            </div>
            <div class="w-3 p-1">
                <div>{{ packinglistObj?.part_of_shipment }}</div>
            </div>
        </div>
        
        <div class="flex flex-row" style="border-bottom: 1px solid black;">
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">PORT OF LOADING</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div>{{ packinglistObj?.port_of_loading }}</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Transportation Terms</div>
            </div>
            <div class="w-3 p-1">
                <div>{{ packinglistObj?.transportation_terms}}</div>
            </div>
        </div>
        
        <div class="flex flex-row" style="border-bottom: 1px solid black;">
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Destination</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div>{{ packinglistObj?.destination }}</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Description of Packing</div>
            </div>
            <div class="w-3 p-1">
                <div>{{ packinglistObj?.description_of_packing}}</div>
            </div>
        </div>
        
        <div class="flex flex-row">
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Net Weight / KG</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div>{{ packinglistObj?.net_weight }}</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">PI Number</div>
            </div>
            <div class="w-3 p-1">
                <div>{{ packinglistObj?.pi_no }}</div>
            </div>
        </div>
        
        <div class="flex flex-row" style="border-top: 1px solid black;">
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Gross Weight / KG</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div>{{ packinglistObj?.gross_weight }}</div>
            </div>
            <div class="w-3 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">PI Date</div>
            </div>
            <div class="w-3 p-1">
                <div>{{ packinglistObj?.pi_date}}</div>
            </div>
        </div>
        
    </div>

    <!-- DELIVERY TERMS -->
    <div class="mt-2 p-1" style="border: 1px solid black; font-size: 11px;">
        <div class="font-bold">Delivery Terms:</div>
        <div>{{ packinglistObj?.delivery_terms }}</div>
    </div>

    <!-- PACKAGE TYPE DETAILS -->
    <div class="mt-2" style="border: 1px solid black; font-size: 11px;">
        <div class="flex flex-row">
            <div class="w-4 p-1" style="border-right: 1px solid black;">
                <div class="font-bold">Package Type & Details:</div>
                <div>{{ packinglistObj?.package_type_details}}</div>
                
            </div>
            <div class="w-8 p-1">
                <div *ngIf="packinglistObj?.measurement_details" class="mt-1" style="font-weight: bold;">
                <!-- <div *ngIf="packinglistObj?.measurement_details" class="mt-1 "> -->
                    Measurement Details: {{ packinglistObj?.measurement_details }}
                </div>
                <!-- <div *ngIf="!packinglistObj?.measurement_details" class="mt-1">
                    Measurement Details: 112 x 112 x 105 CM (each bag dimension)
                </div> -->
            </div>
        </div>
    </div>
    <!-- DECLARATION -->
    <!-- <div class="flex flex-row border-1 border-top-1 mt-2">
        <div class="w-6 p-2">
            <b><u>Declaration:</u></b><br>
            We declare that this invoice shows the actual price of the goods
            described and that all particulars are correct.
        </div>

        <div class="w-6 p-2 text-right">
            <div>For {{ companyName }}</div>
            <div style="margin-top: 40px;">Authorised Signatory</div>
        </div>
    </div> -->

    <!-- <p style="text-align: center;">This is a Computer Generated Invoice</p> -->

</div>

<div class="text-xl" style="margin-top: 20px;">
    <h5 style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;"></h5>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 14px;">
        <thead>
            <tr>

                <th
                    style="width: 10%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
                    Sl.No.</th>
                <th class="text-left"
                    style="width: 90%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
                    TERMS & CONDITIONS:
                    <!-- The below documents to be provided along with supply -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of packinglistObj?.packing_terms_and_condition; let index = index;"
                class="page-break-inside-avoid">
                <td style="border: 1px solid black; padding: 5px; font-weight: bold; text-align: center;">{{ index + 1
                    }}
                    <!-- {{ item?.term }} -->
                </td>
                <td style="border: 1px solid black; padding: 5px;">
                    <div *ngIf="item?.description">
                        <p *ngFor="let desc of getTextarea(item.description)" style="margin: 0 0 10px 0;">{{ desc }}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>