<div class="bank-details">
    <h2 class="title">BANK DETAILS</h2>

    <table class="print-table">

        <tr class="section">
            <th colspan="4">Request</th>
        </tr>


        <tr>
            <td >BD Number</td>
            <td>  {{ttFormObj?.bd_number}}</td>
            <td>Payment Request Date</td>
            <td>{{ttFormObj?.payment_request_date}}  </td>
        </tr>

        <tr class="section">
            <th colspan="4">Payment Details</th>
        </tr>

        <tr>
            <td>Payment Method</td>
            <td colspan="3">{{ttFormObj?.payment_method}} </td>
        </tr>

        <tr>
            <td>Bank Name/ Trustee Code</td>
            <td colspan="3">   </td>
        </tr>

        <tr>
            <td>Beneficiary Name</td>
            <td colspan="3"> {{ttFormObj?.beneficiary_name}} </td>
        </tr>

        <tr>
            <td>Beneficiary Address</td>
            <td colspan="3"> {{ttFormObj?.beneficiary_address}}</td>
        </tr>

        <tr>
            <td>Bank Name</td>
            <td colspan="3"> {{ttFormObj?.bank_name}}</td>
        </tr>

        <tr>
            <td>Bank Address</td>
            <td colspan="3">{{ttFormObj?.bank_address}} </td>
        </tr>


        <tr>
            <td>Swift</td>
            <td> {{ttFormObj?.swift}} </td>
            <td>Bank Account No</td>
            <td>{{ttFormObj?.bank_account_number}} </td>
        </tr>

        <tr>
            <td>IBAN</td>
            <td> {{ttFormObj?.IBAN}}</td>
            <td>Currency</td>
            <td>{{ttFormObj?.currency}} </td>
        </tr>

        <tr>
            <td>Amount in Digit</td>
            <td colspan="3"> <b>{{ttFormObj?.amount_in_digit}}</b></td>
        </tr>

        <tr>
            <td>Amount In Words</td>
            <td colspan="3"><b> {{ttFormObj?.amount_in_words}}</b> </td>
        </tr>

        <tr class="section">
            <th colspan="4">Payment Approval</th>
        </tr>

        <tr>
            <td style="padding-top:3%;padding-bottom:3%;padding-left:2%;">Head of Treasury Signature</td>
            <td colspan="3"> </td>
        </tr>

        <tr>
            <td>Swift Release Date</td>
            <td colspan="3"> {{ttFormObj?.swift_release_date}} </td>
        </tr>

        <tr>
            <td colspan="4" style="padding-top:1%; padding-bottom:1%; padding-left:2%;">
                <span
                    style="display:inline-block; width:13px; height:13px; border:1px solid #000; margin-right:6px; margin-left:6px;"></span>
                General

                <span
                    style="display:inline-block; width:13px; height:13px; border:1px solid #000; margin-right:6px; margin-left:6px;"></span>
                Exclusive

                <span
                    style="display:inline-block; width:13px; height:13px; border:1px solid #000; margin-right:6px;margin-left:6px; "></span>
                Confidential



            </td>
        </tr>

        <tr>
            <td colspan="4">
                Code: 
            </td>
        </tr>
    </table>
</div>