<div class="cards" style="color: black; background-color: white !important;">

    <div class="col-12 flex justify-space-between align-items-center">

        <!-- Center Title -->
        <div class="flex-1 flex justify-content-first">
            <h4><b>SUPPLIER INVOICE NOTE</b></h4>
        </div>

        <!-- Logo -->
        <div class="flex-1 flex justify-content-end">
            <img *ngIf="companyLogo" [src]="companyLogo" class="img-fluid" style="width: 80px;">
        </div>

    </div>




    <!-- ADDRESS BLOCK -->
    <div class="flex flex-row mt-2">

        <!-- LEFT SIDE -->
        <div class="w-7 border-1 border-bottom-none border-black-alpha-90">

            <!-- SELLER DETAILS -->
            <div class="p-2 border-bottom-1 border-black-alpha-90">
                <div class="font-bold" style="font-size: 12px;">{{ companyName }}</div>

                <div *ngFor="let address of getTextarea(registeredAddress)">
                    {{ address }}
                </div>

                <!-- <div *ngIf="gstNo">GSTIN/UIN: {{ gstNo }}</div> -->
                <div *ngIf="stateName && stateCode">State Name: {{ stateName }}, Code: {{ stateCode }}</div>
                <div *ngIf="cinNo">CIN: {{ cinNo }}</div>
            </div>

            <!-- CONSIGNEE -->
            <!-- <div class="p-2 border-black-alpha-90">
                <b>Consignee (Ship To)</b>
                <div *ngFor="let x of getTextarea(salesOrderProfileObj?.ship_to_address)">
                    {{ x }}
                </div>
            </div> -->

            <!-- BUYER -->
            <div class="p-2 border-top-0 border-bottom-0 border-black-alpha-90">
                <b>Vendor (Bill To)</b><br>
                <b>{{ grnObj?.address }}</b>

                <div *ngFor="let x of getTextarea(grnObj?.address)">
                    {{ x }}
                </div>
            </div>

        </div>

        <!-- RIGHT SIDE -->
        <div class="w-5 border-black-alpha-90 border-right-1" style="color: black;">

            <!-- INVOICE INFO -->
            <div class="flex flex-row border-black-alpha-90">
                <div class="w-6 p-2 border-top-1 border-bottom-1  border-black-alpha-90" style="color: black;">
                    Supplier Invoice No.:
                    <div class="smallText" style="color: black;">{{ grnObj?.grn_no }}</div>
                </div>

                <div class="w-6 p-2 border-top-1 border-left-1 border-bottom-1 " style="color: black;">
                    Supplier Invoice Date:
                    <div class="smallText" style="color: black;">{{ grnObj?.grn_date }}</div>
                </div>
            </div>

            <!-- ORDER DETAILS -->
            <div class="flex flex-row">
                <div class="w-6 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
                    Source:
                    <div class="font-bold" style="color: black;">{{ grnObj.source }}</div>
                </div>

                <div class="w-6 p-2 border-bottom-1 border-left-1 " style="color: black;">
                    Vendor name:
                    <div class="smallText" style="color: black;">{{ grnObj?.default_party_object?.party_name }}</div>
                </div>
            </div>

            <!-- TERMS -->
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
                    Due Date:
                    <div class="smallText" style="color: black;">{{ grnObj?.due_date }}</div>
                </div>
                <div class="w-12 p-2 border-bottom-1 border-left-1 " style="color: black;">
                    Purchase Order Number:
                    <div class="smallText" style="color: black;">{{ grnObj?.purchase_order_numbers }}</div>
                </div>

            </div>
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
                    Sales Order Number:
                    <div class="smallText" style="color: black;">{{ grnObj?.default_sales_object?.oa_number }}</div>
                </div>
                <div class="w-12 p-2 border-bottom-1 border-left-1 " style="color: black;">
                    SPI No.:
                    <div class="smallText" style="color: black;">{{ grnObj?.default_spi_object?.spiNumber }}</div>
                </div>

            </div>
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-0 border-black-alpha-90" style="color: black;">
                    Currency:
                    <div class="smallText" style="color: black;">{{ grnObj?.currency }}</div>
                </div>
                <div class="w-12 p-2 border-left-1 border-bottom-0 border-black-alpha-90" style="color: black;">
                    Vendor Invoice Number:
                    <div class="smallText" style="color: black;">{{grnObj.invoice_no }}</div>
                </div>

            </div>
            <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-0 border-top-1  border-right-1 border-black-alpha-90"
                    style="color: black;">
                    Vendor Invoice Date:
                    <div class="smallText" style="color: black;">{{ grnObj?.invoice_date }}</div>
                </div>
                <div class="w-12 p-2 border-bottom-0 border-top-1   border-black-alpha-90" style="color: black;">
                    Remarks:
                    <div class="smallText" style="color: black;">{{ grnObj?.note}}</div>
                </div>

            </div>
                  <!-- <div class="flex flex-row">
                <div class="w-12 p-2 border-bottom-0 border-top-1  border-right-1 border-black-alpha-90"
                    style="color: black;">
                    Supplier ID:
                    <div class="smallText" style="color: black;">{{ grnObj?.supplier_ref_no }}</div>
                </div>
                <div class="w-12 p-2 border-bottom-0 border-top-1   border-black-alpha-90" style="color: black;"> -->
                    <!-- Remarks: -->
                    <!-- <div class="smallText" style="color: black;">{{ ''}}</div> -->
                <!-- </div> -->

            <!-- </div> -->


            <!-- <div class="flex flex-row">
        <div class="w-12 p-2 border-bottom-1 border-black-alpha-90" style="color: black;">
            <div class="ml-2" style="color: black;">Terms and Conditions:</div> -->

            <!-- <table class="no-border-table" style="color: black;">
                <tbody>
                    <tr *ngFor="let item of salesOrderProfileObj?.sales_quotation_terms_and_condition; let index = index;">
                        <td style="color: black;">
                            {{ index + 1 }} {{ item?.description }}
                        </td>
                    </tr>
                </tbody>
            </table> -->

            <!-- </div>
    </div> -->

        </div>


    </div>

    <!-- ITEMS TABLE -->
    <table class="w-12" style="border-collapse: collapse; text-align: center; margin-top: 0px; font-size: 11px; ">
        <thead class="text-base">
            <tr>
                <th rowspan="2" class="p-2 border-1">Sl.No.</th>
                <th rowspan="2" class="p-2 border-1">Product Code</th>
                <th rowspan="2" class="p-2 border-1">Product Name</th>
                <th rowspan="2" class="p-2 border-1">Part Number</th>
                <th rowspan="2" class="p-2 border-1">HS Code</th>
                <th rowspan="2" class="p-2 border-1">UOM</th>
                <th rowspan="2" class="p-2 border-1">Received Qty</th>
                <th rowspan="2" class="p-2 border-1">Unit Price</th>
                <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">Disc. %</th>
                <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">Disc. Amt</th>
                <th *ngIf="hasTaxValue()" rowspan="2" class="p-2 border-1">VAT %</th>
                <th *ngIf="hasTaxValue()" rowspan="2" class="p-2 border-1">VAT Amt</th>
                <th rowspan="2" class="p-2 border-1">Total</th>
                <!-- <th rowspan="2" class="p-2 border-1">
                    Rate ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->

                <!-- DISCOUNT -->
                <!-- <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">Discount</th> -->

                <!-- TAXABLE VALUE -->
                <!-- <th *ngIf="hasDiscount()" rowspan="2" class="p-2 border-1">
                    Taxable Value ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->

                <!-- TAX COLUMNS -->
                <!-- <ng-container *ngIf="hasTaxValue()">
                    <th colspan="2" class="p-2 border-1">
                        {{ isForeign ? 'VAT' : (salesOrderProfileObj?.igst ? 'IGST' : 'CGST / SGST') }}
                    </th>
                </ng-container> -->

                <!-- TOTAL -->
                <!-- <th *ngIf="hasTaxValue() || hasDiscount()" rowspan="2" class="p-2 border-1">
                    Total ({{ salesOrderProfileObj?.currency || 'AED' }})
                </th> -->
            </tr>

            <!-- SUB TAX HEADERS -->
            <!-- <tr *ngIf="hasTaxValue()">
                <th class="p-2 border-1">Rate</th>
                <th class="p-2 border-1">Amount</th>
            </tr> -->
        </thead>

        <tbody>

            <tr *ngFor="let item of grnObj?.grn_details; let i = index;">
                <td class="p-2 border-1">{{ i + 1 }}</td>

                <td class="p-2 border-1 text-left">
                    <div *ngIf="item.item_code">{{ item.item_code }}</div>
                    <!-- <div *ngIf="item.drawing_number">{{ item.drawing_number }}</div>
                    <div *ngIf="item.product_name">{{ item.product_name }}</div> -->
                </td>

                <td class="p-2 border-1">{{ item.product_name }}</td>
                <td class="p-2 border-1">{{ item.part_number }}</td>
                <td class="p-2 border-1">{{ item.hsn }}</td>
                <td class="p-2 border-1">{{ item.unit_name }}</td>
                <td class="p-2 border-1">{{ item.received_qty }}</td>
                <td class="p-2 border-1">{{ item.unit_price }}</td>
                <td *ngIf="hasDiscount()" class="p-2 border-1">{{ item.discount }}</td>
                <!-- <td class="p-2 border-1">{{ item.discount_amount }}</td> -->
                <td *ngIf="hasDiscount()" class="p-2 border-1">{{ item.discount_amount }}</td>
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax }}</td>
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax_value }}</td>
                <td class="p-2 border-1">{{ item.total }}</td>


                <!-- <td *ngIf="hasDiscount()" class="p-2 border-1">
                    {{ item.taxable_amount | number:'1.2-2' }}
                </td> -->

                <!-- TAX -->
                <!-- <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax }}%</td>
                <td *ngIf="hasTaxValue()" class="p-2 border-1">{{ item.tax_value | number:'1.2-2' }}</td> -->

                <!-- TOTAL -->
                <!-- <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                    {{ item.total | number:'1.2-2' }}
                </td> -->
            </tr>

        </tbody>

        <!-- TOTAL ROW -->
        <tr class="text-base font-bold border ">
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1 text-right">Total</td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1"></td>
            <td class="p-2 border-1">{{ grnObj?.total_qty }}</td>
            <!-- <td class="p-2 border-1">{{ calculateFinalPriceTotal() | number:'1.2-2' }}</td> -->
            <td class="p-2 border-1"></td>


            <td *ngIf="hasDiscount()" class="p-2 border-1"></td>

            <td *ngIf="hasDiscount()" class="p-2 border-1">
                {{ grnObj.discount| number:'1.2-2' }}
            </td>


            <td *ngIf="hasTaxValue()" class="p-2 border-1"></td>

            <td *ngIf="hasTaxValue()" class="p-2 border-1">
                {{ calculateTaxTotal() | number:'1.2-2' }}
            </td>
            <td class="p-2 border-1">{{grnObj.total | number:'1.2-2'}}</td>
            <!-- <td *ngIf="hasTaxValue() || hasDiscount()" class="p-2 border-1">
                {{ grandTotalValue() | number:'1.2-2' }}
            </td> -->
            <!-- <td colspan="8" style="text-align: right; font-size: 12px; padding:5px; border: 1px solid black;">Total</td>
            <td class="custom-styles">{{ salesOrderProfileObj?.total_qty }}</td> -->
            <!-- <td class="p-2 border-1" colspan="100%">{{ salesOrderProfileObj?.total_qty }}</td> -->
            <!-- <td class="p-2 border-1">{{ salesOrderProfileObj?.total_qty }}</td>-->
            <!-- </tr> -->
            <!-- <tr class="text-base font-bold">
    <td colspan="2" class="p-2 border-1 text-right">Total</td>
    <td colspan="3 "class="p-2 border-1">{{ '' }}</td>
    <td colspan="8 "class="p-2 border-1">{{ grnObj.total_qty }}</td> -->
        </tr>


        <!-- EXTRA CHARGES -->
        <!-- 
        <tr *ngIf="salesOrderProfileObj?.adjust_amount">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Adjust Amount</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.adjust_amount | number:'1.2-2' }}</td>
        </tr>

        <tr *ngIf="salesOrderProfileObj?.tcs">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">TCS</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.tcs | number:'1.2-2' }}</td>
        </tr>
                <tr *ngIf="salesOrderProfileObj?.freight_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Freight Charges</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj.freight_charges | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="salesOrderProfileObj?.packing">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Packing</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj?.packing | number:'1.2-2' }}</td>
                </tr>
                 <tr *ngIf="salesOrderProfileObj?.other_charges">
                    <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Other Charges</td>
                    <td class="p-2 border-1">{{ salesOrderProfileObj?.other_charges | number:'1.2-2' }}</td>
                </tr>


        <tr *ngIf="salesOrderProfileObj?.charge_value">
            <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right font-bold">Charge Value</td>
            <td class="p-2 border-1">{{ salesOrderProfileObj.charge_value | number:'1.2-2' }}</td>
        </tr> -->

        <!-- GRAND TOTAL -->
        <!-- <tr class="font-bold"> -->
        <!-- <td [attr.colspan]="calculateColspan()" class="p-2 border-1 text-right">Grand Total</td> -->
        <!-- <td colspan="12" class="p-2 border-1 text-right">Grand Total</td> -->
        <!-- <td class="p-2 border-1">{{ grnObj?.grand_total | number:'1.2-2' }}</td> -->
        <!-- </tr> -->
        <!-- GRAND TOTAL -->
        <tr class="font-bold">
            <td [attr.colspan]="calculateGrandTotalColspan()" class="p-2 border-1 text-right"*ngIf="grnObj?.adjust_amount!=0">Adjustment Amount</td>
            <td class="p-2 border-1"*ngIf="grnObj?.adjust_amount!=0">{{ grnObj?.adjust_amount | number:'1.2-2' }}</td>
        </tr>
        <tr class="font-bold">
            <td [attr.colspan]="calculateGrandTotalColspan()" class="p-2 border-1 text-right"*ngIf="grnObj?.freight_charge!=0">Freight Charges</td>
            <td class="p-2 border-1"*ngIf="grnObj?.freight_charge!=0">{{ grnObj?.freight_charge | number:'1.2-2' }}</td>
        </tr>
        <tr class="font-bold">
            <td [attr.colspan]="calculateGrandTotalColspan()" class="p-2 border-1 text-right">Grand Total</td>
            <td class="p-2 border-1">{{ grnObj?.grand_total | number:'1.2-2' }}</td>
        </tr>
    </table>

    <!-- AMOUNT IN WORDS -->
    <!-- <div class="p-2 border-left-1 border-right-1 border-black-alpha-90">
        <div style="display: flex; justify-content: space-between;">
            <div>Amount Chargeable (in words)</div>
            <div>E.& OE</div>
        </div>

        <div class="smallText">
            Total: {{ amountInWord(salesOrderProfileObj?.grand_total) }}
        </div>
    </div> -->

    <!-- DECLARATION -->
    <!-- <div class="flex flex-row border-1 border-top-none m-0">
        <div class="w-6 p-2">
            <b><u>Declaration:</u></b><br>
            We declare that this invoice shows the actual price of the goods
            described and that all particulars are correct.
        </div>

        <div class="w-6 p-2 text-right">
            <div>For {{ companyName }}</div>
            <div style="margin-top: 40px;">Authorised Signatory</div>
        </div>
    </div> -->

    <!-- <p style="text-align: center;">This is a Computer Generated Sales Order</p> -->

</div>


<div class="text-xl" style="margin-top: 20px;">
    <h5 style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;"></h5>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 14px;">
        <thead>
            <tr>

                <th
                    style="width: 10%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
                    Sl.No.</th>
                <th class="text-left"
                    style="width: 90%; border: 1px solid black; padding: 10px; font-weight: bold; background-color: #f9f9f9;">
                    TERMS & CONDITIONS
                    <!-- The below documents to be provided along with supply -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of grnObj?.grn_terms_and_condition; let index = index;"
                class="page-break-inside-avoid">
                <td style="border: 1px solid black; padding: 5px; font-weight: bold; text-align: center;">{{ index + 1
                    }}
                    <!-- {{ item?.term }} -->
                </td>
                <td style="border: 1px solid black; padding: 5px;">
                    <div *ngIf="item?.description">
                        <p *ngFor="let desc of getTextarea(item.description)" style="margin: 0 0 10px 0;">{{ desc }}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p style="text-align: center;">This is a Computer Generated Goods Receipt Note</p>